<article>
  <h1>TE Scheme Months: <%= @scheme.name %></h1>
  <nav>
    <ul>
      <li><%= link_to "< back to Scheme", @scheme %></li>
    </ul>
  </nav>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <th>TE Issued</th>
        <th>TE Demurrage</th>
        <th>TE Total</th>
        <th>TE Total Value</th>
        <th>FBO Funds Added</th>
        <th>FBO Expenditure</th>
        <th>FBO Funds Total</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @monthly_aggregates.each do |ma| %>
        <tr>
          <td><%= ma.month %></td>
          <td class="money"><%= number_to_currency ma.te_issue %></td>
          <td class="money"><%= number_to_currency ma.te_demurrage %></td>
          <td class="money"><%= number_to_currency ma.te_total %></td>
          <td class="money"><%= number_to_currency ma.te_total_value %></td>
          <td class="money"><%= number_to_currency ma.fbo_funds_added %></td>
          <td class="money"><%= number_to_currency ma.fbo_expenditure %></td>
          <td class="money"><%= number_to_currency ma.fbo_funds_total %></td>
          <td><%= ma.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>