<article>
  <h1>FBO Account: <%= @account.name %></h1>
  <nav>
    <ul>
      <li><%= link_to "< home", root_path %></li>
      <li><%= link_to "TE scheme", @account.te_scheme %></li>
      <li><%= link_to "Statements", fbo_account_statements_path(@account) %></li>
    </ul>
  </nav>
  <h2>Transactions</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Memo</th>
        <th>Participant</th>
      </tr>
    </thead>
    <tbody>
      <% @account.transactions.date_order.each do |transaction| %>
        <tr>
          <td><%= transaction.posted_at.to_date.to_formatted_s(:short) %></td>
          <td class="money"><%= number_to_currency(transaction.amount) %></td>
          <td><%= transaction.memo %></td>
          <td>
            <% if transaction.money_in? %>
              <% if transaction.te_scheme_contribution %>
                <%= transaction.te_scheme_contribution.participant.name %>
              <% else %>
                <%= form_with url: assign_fbo_account_transaction_path(@account, transaction) do |form| %>
                  <%= form.select('participant_id', options_from_collection_for_select(@scheme.participants, 'id', 'name', nil), include_blank: true)  %>
                  <%= form.submit "Assign" %>
                <% end %>
              <% end %>
            <% elsif transaction.money_out? %>
              <% if !transaction.te_scheme_expenditure %>
                <%= button_to "Expend", expend_fbo_account_transaction_path(@account, transaction), method: :post %>
                <div>or</div>
                <%= form_with url: withdraw_fbo_account_transaction_path(@account, transaction) do |form| %>
                  <%= form.select('participant_id', options_from_collection_for_select(@scheme.participants, 'id', 'name', nil), include_blank: true)  %>
                  <%= form.submit "Withdraw" %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</article>