

<article>
  <h1>New FBO Account Statement</h1>
  <%= form_with url: withdraw_fbo_account_transaction_path(@account, @transaction) do |form| %>
    <p>
      <%= form.label :participant_id, "Participant" %>
      <%= form.select('participant_id', options_from_collection_for_select(@scheme.participants, 'id', 'name', nil), include_blank: true)  %>
    </p>
    <p>
      <%= form.label :reason, "Reason" %>
      <%= form.text_field :reason %>
    <p>
      <%= form.submit "Submit" %>
    </p>
  <% end %>
</article>