<article>
  <h1>Participant: <%= @participant.name %></h1>
  <nav>
    <ul>
      <li><%= link_to "< home", root_path %></li>
      <li><%= link_to "TE scheme", @scheme %></li>
    </ul>
  </nav>
  <h2>Months</h2>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <th>Deposit Total</th>
        <th>Demurrage</th>
        <th>TE Issue</th>
        <th>TE Withdrawal</th>
        <th>TE Delta</th>
        <th>TE Max Balance</th>
        <th>TE Value</th>
      </tr>
    </thead>
    <tbody>
      <% @monthly_aggregates.each do |ma| %>
        <tr>
          <td><%= ma.month %></td>
          <td class="money"><%= number_to_currency ma.deposit_total %></td>
          <td class="money"><%= number_to_currency ma.demurrage %></td>
          <td class="money"><%= number_to_currency ma.te_issue %></td>
          <td class="money"><%= number_to_currency ma.te_withdrawal %></td>
          <td class="money"><%= number_to_currency ma.te_delta %></td>
          <td class="money"><%= number_to_currency ma.te_max_balance %></td>
          <td class="money"><%= number_to_currency ma.te_value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Formatted for Email</h2>
  <h3>This Month: <%= @current_aggregate.month %></h3>
  <h4>Your ingoings:</h4>
  <p>
    Deposit Total: <%= number_to_currency @current_aggregate.deposit_total %><br>
    TE Issue: <%= number_to_currency @current_aggregate.te_issue %><br>

  </p>
  <h4>Your outgoings:</h4>
  <p>
  Demurrage: <%= number_to_currency @current_aggregate.demurrage %><br></p>
  <h4>Your Totals:</h4>
  <p>
    TE Max Balance: <%= number_to_currency @current_aggregate.te_max_balance %><br>
    TE Value: <%= number_to_currency @current_aggregate.te_value %>
  </p>
  <h4>Scheme totals:</h4>
  <p>
    TE Max: <%= number_to_currency @monthly_aggregate.te_total %><br>
    Liquidy: <%= number_to_percentage @monthly_aggregate.liquidity * 100.0, precision: 1 %><br />
    TE Total Value: <%= number_to_currency @monthly_aggregate.te_total_value %><br>

  </p>

</article>