<article>
  <h1>FBO Account Statements: <%= @account.name %></h1>
  <nav>
    <ul>
      <li>
        <%= link_to "New", new_fbo_account_statement_path(@account) %>
      </li>
    </ul>
  </nav>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Filename</th>
        <th>Uploaded</th>
        <th>Imported</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @statements.each do |statement| %>
        <td><%= statement.id %></td>
        <td><%= statement.original_filename %></td>
        <td><%= statement.created_at.to_formatted_s(:short) %></td>
        <td><%= statement.imported_at.to_formatted_s(:short) %></td>
        <td><%= button_to "import", import_fbo_account_statement_path(@account, statement) %></td>
      <% end %>
    </tbody>
  </table>

  <ul>

  </ul>
</article>