<article>
  <h1>TE Scheme: <%= @scheme.name %></h1>
  <nav>
    <ul>
      <li><%= link_to "< home", root_path %></li>
      <li><%= link_to "FBO account", @scheme.fbo_account %></li>
      <li><%= link_to "Participants", te_scheme_participants_path(@scheme) %></li>
      <li><%= link_to "Contributions", te_scheme_contributions_path(@scheme) %></li>
      <li><%= link_to "Months", te_scheme_aggregates_path(@scheme) %></li>
      <li><%= button_to "Reaggregate", reaggregate_te_scheme_path(@scheme) %></li>
    </ul>
  </nav>
  <% if @monthly_aggregate %>
    <table class="vertical">
      <tbody>
        <tr>
          <th>Participants</th>
          <td class="number"><%= @scheme.participants.count %></td>
        </tr>
        <tr>
          <th>Date</th>
          <td><%= @monthly_aggregate.month.end_date %></td>
        </tr>
        <tr>
          <th>TE Total</th>
          <td class="money"><%= number_to_currency @monthly_aggregate.te_total %></td>
        </tr>
        <tr>
          <th>FBO Funds Total</th>
          <td class="money"><%= number_to_currency @monthly_aggregate.fbo_funds_total %></td>
        </tr>
        <tr>
          <th>Liquidity</th>
          <td class="number"><%= number_to_percentage @monthly_aggregate.liquidity * 100.0, precision: 1 %></td>
        </tr>
        <tr>
          <th>TE Total Value</th>
          <td class="money"><%= number_to_currency @monthly_aggregate.te_total_value %></td>
        </tr>
        <tr>
          <th>TE Payout</th>
          <td class="money"><%= number_to_currency number_with_precision @monthly_aggregate.te_value_ratio, precision: 2 %></td>
        </tr>
      </tbody>
    </table>
    <h2>Streams</h2>
    <table>
      <thead>
        <tr>
          <th>Bank Mortgage</th>
          <th>Transitional Equity</th>
          <th>Collective Stewardship</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="money"><%= number_to_currency @monthly_aggregate.stream_dollar_value(:bm) %></td>
          <td class="money"><%= number_to_currency @monthly_aggregate.stream_dollar_value(:te) %></td>
          <td class="money"><%= number_to_currency @monthly_aggregate.stream_dollar_value(:cs) %></td>
        </tr>
        <tr>
          <td class="number"><%= number_to_percentage @monthly_aggregate.stream_ratio(:bm) * 100.0, precision: 1 %></td>
          <td class="number"><%= number_to_percentage @monthly_aggregate.stream_ratio(:te) * 100.0, precision: 1 %></td>
          <td class="number"><%= number_to_percentage @monthly_aggregate.stream_ratio(:cs) * 100.0, precision: 1 %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</article>